---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ProblemSection from '../components/ProblemSection.astro';
import SolutionSection from '../components/SolutionSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import OnPremiseSection from '../components/OnPremiseSection.astro';
import WhyOnPremiseSection from '../components/WhyOnPremiseSection.astro';
import ModulesSection from '../components/ModulesSection.astro';
import UseCasesSection from '../components/UseCasesSection.astro';
import HowItWorksSection from '../components/HowItWorksSection.astro';
import DocsSection from '../components/DocsSection.astro';
import CtaSection from '../components/CtaSection.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <ProblemSection />
    <SolutionSection />
    <FeaturesSection />
    <OnPremiseSection />
    <WhyOnPremiseSection />
    <ModulesSection />
    <UseCasesSection />
    <HowItWorksSection />
    <DocsSection />
    <CtaSection />
  </main>
  <Footer />
</BaseLayout>
